/* reset Css */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
	font-size: 62.5%;
	line-height: 1.5rem;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}
@font-face {
	font-family: "HongHaHep";
	src: url("/static/fonts/unicode.publish.UVNHongHaHep_I.TTF")
		format("truetype");
}
